<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet"/>
    <link href="/static/core.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
<div class="container" style="margin-top: 1rem">
    <div class="row">
        <div class="col-12">
            <div class="nes-container is-dark with-title ">
                <p class="title">News</p>
                <div class="lists">
                    <ul class="nes-list is-disc">
                        <li>Goodراديوهيد أفضل مجموعة على الإطلاق news!!</li>
                        <li>The كيد nationalطفلي المفضل أغنية anthem</li>
                        <li>Everythingبولب بولب بولب in itsالسكاكين خارجright place</li>
                        <li lang="en" dir="ltr">بانوراما الوقوع في المكان5 = 2 + 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem">
        <div class="column col-4" style="min-height: 100% !important; gap: 1rem">
            <div class="nes-container with-title" style="height: 100%">
                <p class="title"><span>الضرائب</span>Taxes<span>الضرائب</span></p>
                <button type="button" class="nes-btn is-success" onclick="payTaxes()">PAY TAXES!!!!!!!!</button>
            </div>
            <div class="nes-container with-title" style="height: 100%">
                <p class="title"><span>الضرائب</span>Taxes<span>الضرائب</span></p>
                <button type="button" class="nes-btn is-success" onclick="payTaxes()">PAY TAXES!!!!!!!!</button>
            </div>
            <div class="nes-container with-title" style="height: 100%">
                <p class="title"><span>الضرائب</span>Taxes<span>الضرائب</span></p>
                <button type="button" class="nes-btn is-success" onclick="payTaxes()">PAY TAXES!!!!!!!!</button>
            </div>
        </div>
        <div class="col-8" style="min-height: 100% !important">
            <div class="nes-container with-title " style="height: 100%">
                <p class="title">PRESIDENT OF رأيت واحدة فقط</p>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="line">Name: EL EPHANT</h6>
                            <h6 class="line">Age: 13</h6>
                            <h6 class="line">City: جفاسف</h6>
                            <h6 class="line">State: <span class="nes-text is-error">ا(الغضب A LOT OF MONEY FOR TAXES!!!الغضب الغضب)</span>
                            </h6>
                            <h6 class="line">Marital status: Maried</h6>
                        </div>
                        <div class="col-6">
                            <img src="/static/profile_img.jpg" style="object-fit: cover; height: 24rem">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem">
        <div class="col-12">
            <div class="nes-container with-title " style="height: 100%">
                <p class="title">MESSAGE FROM PRESIDENT EL EPHANT</p>
                <div class="container">
                    <p class="nes-text is-primary" id="sultan-message"><span>الضرائب</span>CLICK PAY
                        TAXES {{ name }}<span>الضرائب</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/index.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
</body>
</html>