<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🔐 Secure vault v4.0</title>
    <link rel="stylesheet"
             href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
             integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <style>
        body{
         background-color: #DDDDDD;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block additional_meta %}{% endblock %}

</head>
<body>
    <br>
    <h1 style="text-align:center">🔐 Secure vault v4.0</h1>
    <div class="row justify-content-center">
        {% block content %}{% endblock %}
    </div>
    <h3 style="color:#FF1040; font-size:20px; text-align:center", id="error-msg">
        {{ error }}
    </h3>
</body>
</html>